<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.name %>, you have an overdue task!!</h1>
    <p>
      Go back to <%= @url %> and start working hard!
    </p>
  </body>
</html>
