
  <!-- header -->
<header id="header" class="app-header navbar" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-dark">
    <button class="pull-right visible-xs dk">
      <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs">
      <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
      <i class="fa fa-btc"></i>
      <img src="" alt="." class="hide">
      <span class="hidden-folded m-l-xs">Application</span>
    </a>
    <!-- / brand -->
  </div>
  <!-- / navbar header -->

  <!-- navbar collapse -->
  <div class="m-t-sm">
    <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
      <div class= 'pull-right'> Signed in as <%= current_user.name %> <%= link_to "Logout", '/logout', class: 'btn m-b-xs w-xs btn-danger' %> </div>
    </div>
  </div>
  <!-- / navbar collapse -->
</header>
<!-- / header -->
