
<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>

<div id="content" class="app-content" role="main">
  <div class="app-content-body ">

    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">I'm opprtunities/index.html.erb</h1>
    </div>

    <!-- content -->
    <div class="wrapper-md">
      <!-- <% @opportunities.each do |opportunity| %>
      <h1><%=opportunity.opening.company.name%></h1>
        <%end%> -->

    <div class="panel panel-default">

      <div class="table-responsive">
        <table ui-jq="dataTable" ui-options="{
            sAjaxSource: 'api/datatable.json',
            aoColumns: [
              { mData: 'engine' },
              { mData: 'browser' },
              { mData: 'platform' },
              { mData: 'version' },
              { mData: 'grade' }
            ]
          }" class="table table-striped b-t b-b">
          <thead>
            <tr>
              <th  style="width:20%">Opportunity</th>
              <th  style="width:25%">Status</th>
              <th  style="width:25%">Priority</th>
              <th  style="width:15%">Website</th>
              <th  style="width:15%">Inactive Days</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>




    <!-- /content -->


  </div>
</div>
<%= render partial: '/partials/footer' %>
